.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 2px 0px 15px black;
    width: 102%;
    max-height: 100px;
    height: 150%;
    padding: 0px 300px;
  }
  .header__intro h1 {
      color: white; /* Цвет текста */
      font-size: 5rem; /* Размер текста */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Тень для текста, чтобы он лучше читался на фоне */
      font-family: 'Cormorant Infant', serif;
      font-weight: 400;
    }
.header__intro {
    background-image: url('https://p.turbosquid.com/ts-thumb/Gk/in9qFi/elqJqCB6/statue_of_liberty_0000/jpg/1493981727/1920x1080/fit_q87/f1b10ee1470348f2cceb2fda70503dacb5f07cea/statue_of_liberty_0000.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 100%;
  }
  body {
    background: LightBlue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  .mnews {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    max-width: 1000px; 
    margin-left: auto; 
    margin-right: auto; 
}
.mnews-image {
    display: block;
    position: relative;
}
.mnews-image span {
    display: block;
    padding-top: 56.25%; /* Соотношение сторон 16:9 */
    background-size: cover;
    background-position: center;
}
.mnews-image img {
    width: 100%;
    height: auto;
    display: none; 
}
.mnews-title {
    padding: 15px;
}
.mnews-title h2 {
    margin: 0;
    font-size: 1.5em;
}
.mnews-text {
    padding: 15px;
    color: #555;
}
